:root {
  --primary-tex-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-hero-color: #ffffff;
  --text-abut-list-color: #757575;
  --background-hero-color: #2f303a;
  --backround-teem-color: #f5f4fa;
  --ikon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.remove-italics {
  font-style: normal;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(----title-hero-color);
  letter-spacing: 0.03em;
}

img {
  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}

.hader-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .hader-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hader-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .hader-container {
    max-width: 1200px;
  }
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1200px;
  }
}

.benefits-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .benefits-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-container {
    max-width: 1200px;
  }
}

.work-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .work-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .work-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .work-container {
    max-width: 1200px;
  }
}

.team-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .team-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .team-container {
    max-width: 1200px;
  }
}

.customers-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .customers-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .customers-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-container {
    max-width: 1200px;
  }
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .portfolio-container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container {
    max-width: 1200px;
  }
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container-footer {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-hero-color);
}

.header-navigation {
  border-bottom: 1px solid #ececec;
}

.hader-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hader-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.all-navigation .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .all-navigation {
    display: contents;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.site-nav {
  display: none;
}
.site-nav .sate-nav-item {
  margin-left: 50px;
}
.site-nav .sate-nav-item:last-child {
  margin-right: 0;
}
.site-nav .sate-nav-item:first-child {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.sate-nav__border {
  display: block;
  position: relative;
}

.care::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav:hover, .nav:focus {
  color: #2196f3;
}

.nav.care {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-hero-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_sm_@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_sm_@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_sm_@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_sm_@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_md_@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_md_@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_md_@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_md_@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_lg_@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_lg_@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Hero-img/img_lg_@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero-img/img_lg_@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
  }
}

.hero-title {
  color: var(--title-hero-color);
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    line-height: 1.6;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    line-height: 1.3;
    font-size: 44px;
    width: 696px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  display: block;
}
@media screen and (min-width: 768px) {
  .benefits-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-about {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits__blok {
  margin-bottom: 30px;
  display: inline-block;
}
.benefits__blok:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .benefits__blok {
    width: 354px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__blok {
    width: 270px;
    margin-bottom: 0px;
  }
}

.benefits-icons {
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--backround-teem-color);
  margin-bottom: 30px;
}

.benefits-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-title {
    text-align: left;
  }
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  letter-spacing: 0.03em;
}

.work {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 768px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work-container__about {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-container__card {
  width: 370px;
  margin-right: 30px;
}
.work-container__card:nth-child(3) {
  margin-right: 0px;
}

.work-thumb {
  position: relative;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
}

.team {
  background-color: var(--backround-teem-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-about {
  display: block;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-about__card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-about__card:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .team-about__card {
    margin-bottom: 0px;
    width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-about__card {
    margin-bottom: 0px;
    width: 270px;
  }
}

.team-card {
  padding: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients {
  width: 210px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients {
    width: 226px;
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    width: 170px;
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  outline: transparent;
  color: var(--ikon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link__icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-link__icon, .clients-link:focus .clients-link__icon {
  fill: var(--accent-color);
}

.footer-block {
  background-color: var(--background-hero-color);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.for-nav {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .for-nav {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .for-nav {
    margin-bottom: 0px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: unset;
    width: 231px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms, opacity 250ms;
  transition: visibility 250ms, opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 100%;
  height: 609px;
  position: absolute;
  padding: 40px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--title-hero-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: var(--title-hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.register-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form-field:last-child {
  margin-bottom: 0;
}

.register-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--text-abut-list-color);
}

.register-form-imput {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-imput:focus, .register-form-imput:hover {
  border-color: var(--accent-color);
}

.register-icos {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-11%);
          transform: translateY(-11%);
  left: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-imput:focus + .register-icos, .register-form-imput:hover + .register-icos {
  fill: var(--accent-color);
}

.register-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-message:focus, .register-form-message:hover {
  border-color: var(--accent-color);
}
.register-form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}

.register-form-chekcbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.register-form-chekcbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-chekcbox:focus + .register-form-icons {
  outline: 2px solid rgb(66, 66, 190);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form-chekcbox:focus + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.icon-checked {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--text-abut-list-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .register-form-desc {
    line-height: 1.7;
    font-size: 14px;
  }
}

.register-form-link {
  color: var(--accent-color);
}

.register-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-hero-color);
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-btn:hover, .register-form-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.cells {
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .cells {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .cells {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-element {
  background: #ffffff;
  max-width: 450px;
  margin-bottom: 30px;
}
.flex-element:last-child {
  margin-bottom: 0px;
}
.flex-element .flex-link:hover, .flex-element .flex-link:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .flex-element {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-element {
    max-width: 370px;
    margin-bottom: 0px;
  }
}

.flex-link {
  text-decoration: none;
  display: block;
}
@media screen and (min-width: 768px) {
  .flex-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .flex-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 77px 24px 77px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}
.flex-element .flex-link:hover .overlay, .flex-element .flex-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .overlay {
    padding: 77px 24px 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px 63px 24px;
  }
}

.overlay-desc {
  color: var(--title-hero-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.flex-description {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .flex-description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .flex-description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.title-navigation {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.text-navigation {
  color: var(--text-abut-list-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  margin-top: 4px;
}

.button-hero {
  font-family: inherit;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-hero-color);
  background-color: #2196f3;
  min-width: 216px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover, .button-hero:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero__form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-portfolio {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .button-portfolio {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-portfolio {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.button-portfolio__font {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid transparent;
  color: var(--title-hero-color);
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio__font:nth-last-child(1) {
  margin-right: 0px;
}

.button-portfolio__pressing {
  cursor: pointer;
  min-width: 73px;
  border-radius: 4px;
  background-color: var(--backround-teem-color);
  text-align: center;
  padding: 6px 22px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio__pressing:hover, .button-portfolio__pressing:focus {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-button {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: unset;
  }
}

.btn-subscrition {
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--title-hero-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .btn-subscrition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 12px;
    position: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}
.btn-subscrition:hover, .btn-subscrition:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscrition-icon {
  margin-left: 10px;
  fill: var(--title-hero-color);
}

.employee-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.employee-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--ikon-color);
  background-color: var(--title-hero-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-link:hover, .employee-link:focus {
  background-color: var(--accent-color);
}

.employee-link__icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-link:hover .employee-link__icon, .employee-link:focus .employee-link__icon {
  fill: var(--title-hero-color);
}

.socials-join {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .socials-join {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .socials-join {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .join-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer:hover, .socials-footer:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  fill: var(--backround-teem-color);
}

.subscrition {
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (min-width: 768px) {
  .subscrition {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .subscrition {
    margin-left: 93px;
    margin-top: 0px;
  }
}

.subscrition-form-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscrition-form-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.subscrition-form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscrition-form-group {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .subscrition-form-group {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscrition-form-group {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscrition-form-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscrition-field {
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscrition-field {
    margin-bottom: 0px;
  }
}

.subscrition-form-imput {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--background-hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .subscrition-form-imput {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscrition-form-imput {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscrition-form-imput {
    width: 358px;
  }
}
.subscrition-form-imput:focus, .subscrition-form-imput:hover {
  border-color: var(--accent-color);
}
.subscrition-form-imput:not(:-moz-placeholder-shown) + .subscrition-mail {
  transform: translate(-5px, -220%) scale(0.8);
}
.subscrition-form-imput:not(:-ms-input-placeholder) + .subscrition-mail {
  transform: translate(-5px, -220%) scale(0.8);
}
.subscrition-form-imput:focus + .subscrition-mail, .subscrition-form-imput:not(:placeholder-shown) + .subscrition-mail {
  -webkit-transform: translate(-5px, -220%) scale(0.8);
          transform: translate(-5px, -220%) scale(0.8);
}
.subscrition-form-imput:not(:-moz-placeholder-shown) {
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}
.subscrition-form-imput:not(:-ms-input-placeholder) {
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}
.subscrition-form-imput:focus, .subscrition-form-imput:not(:placeholder-shown) {
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.subscrition-mail {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-header:hover {
  color: var(--title-text-color);
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--title-hero-color);
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.auth-nav {
  display: none;
  margin-left: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-left: auto;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.auth-nav .auth-nav-item .auth-nav-item:last-child {
  margin-right: 0;
}
.auth-nav .auth-nav-item .auth-nav-item:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .auth-nav .auth-nav-item {
    margin-left: 50px;
    margin-bottom: 0px;
  }
}

.mail-hader {
  margin-bottom: 10px;
}

.link-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.auth-nav .link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-abut-list-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .auth-nav .link-current {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav .link-current:hover,
.auth-nav .link-current:focus {
  color: #2196f3;
}

.link-current:hover .contacts-icon,
.link-current:focus .contacts-icon {
  fill: #2196f3;
}

.contacts-icon {
  fill: currentcolor;
}

.work-office {
  color: var(--title-hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .work-office {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.link-footer .text-footer:hover, .link-footer .text-footer:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .link-footer {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav {
  margin-bottom: 32px;
}
.mobile-menu__nav:last-child {
  margin-bottom: 0;
}

.mobile-contacts__phone {
  margin-bottom: 33px;
}

.phone__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .phone__link {
    font-size: 34px;
  }
}

.number__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-abut-list-color);
  text-decoration: none;
}

.mobile-socials {
  display: block;
  margin-top: 64px;
}
@media screen and (min-width: 480px) {
  .mobile-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-socials__nav {
  margin-bottom: 10px;
}
.mobile-socials__nav::after {
  content: "";
  padding-right: 10px;
  width: 22px;
  height: 0px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mobile-socials__nav:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .mobile-socials__nav {
    margin-bottom: 0;
  }
  .mobile-socials__nav:last-child::after {
    border-right: none;
  }
}/*# sourceMappingURL=main.css.map */