/* Стилі для index.html */
:root {
  --primary-tex-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-hero-color: #ffffff;
  --text-abut-list-color: #757575;
  --background-hero-color: #2f303a;
  --backround-teem-color: #f5f4fa;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(----title-hero-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.main-navigation {
  flex: 1 1 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

/* Логотип  */

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  vertical-align: middle;
}

.logo:hover {
  color: var(--title-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* conteiner nav */

.header-navigation {
  border-bottom: 1px solid #ececec;
}

.container-nav {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

/* ul, ol,{
    margin: 0;
    padding: 0;
} */

/* site-nav */

.all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.father-all nav {
  display: flex;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--title-hero-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .sate-nav-item {
  margin-left: 50px;
}

.nav:hover,
.nav:focus {
  color: #2196f3;
}

.site-nav .sate-nav-item:last-child {
  margin-right: 0;
}

.site-nav .sate-nav-item:first-child {
  margin-left: 0;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
  height: auto;
}

.auth-nav .auth-nav-item {
  margin-left: 50px;
}

.auth-nav .auth-nav-item:last-child {
  margin-right: 0;
}

.auth-nav .auth-nav-item:first-child {
  margin-left: 0;
}

.auth-nav .link-current:hover,
.auth-nav .link-current:focus {
  color: #2196f3;
}

.auth-nav .link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-abut-list-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 118px;
  margin-bottom: 50px;
}

/* hero */
.hero {
  background-color: var(--background-hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--title-hero-color);
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.5;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
}

.hero-title-button {
}

/* attention-detail */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.attention-detail {
  padding-top: 94px;
}

.about-list {
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

.about-blok {
  width: 270px;
}

.title-about {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.text-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  color: var(--text-abut-list-color);
}

/* переваги */
.aboud-list .title {
  color: var(--title-text-color);
}

/* .about-blok::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  padding: 25px 100px 25px 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--backround-teem-color);
}

.detail::before {
  background-image: url("../image/about-list/antenna.svg");
}

.punctuality::before {
  background-image: url("../image/about-list/clock.svg");
}

.planning::before {
  background-image: url("../image/about-list/diagram.svg");
}

.technology::before {
  background-image: url("../image/about-list/astronaut.svg");
} */

/* Чим ми займаємося */
.about-work {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.test-work {
  width: 370px;
  margin-right: 30px;
}

.test-work:nth-child(3) {
  margin-right: 0px;
}

/* section about-team*/

.for-padding {
  padding-top: 30px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  text-decoration: none;
  text-align: center;
}

.text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  text-decoration: none;
  text-align: center;
  /* margin-bottom: 30px; */
}

.our-team {
  padding-top: 94px;
}

.about-team {
  background-color: var(--backround-teem-color);
  padding-bottom: 94px;
}

.about-our-team {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.test-team {
  width: 270px;
  height: 368px;
  left: 515px;
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.test-team:nth-child(4) {
  margin-right: 0px;
}

/* button */

.button {
  font-family: inherit;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-hero-color);
  background-color: #2196f3;
  min-width: 216px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  cursor: pointer;
}

.text-button {
  left: 724px;
  top: 440px;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* titli */

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* стилі для portolio.html */

.section {
}

/* button */

.aboud-button {
  justify-content: center;
  flex-wrap: nowrap;
  display: flex;
  margin-bottom: 50px;
}

.font-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid transparent;
  color: var(--title-hero-color);
  cursor: pointer;
  margin-right: 8px;
}

.font-button:nth-last-child(1) {
  margin-right: 0px;
}

.font-button > .button-all:hover {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.font-button > .button-web-link:hover {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.font-button > .button-addition:hover {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.font-button > .button-styling:hover {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.font-button > .button-marketing:hover {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-all {
  cursor: pointer;
  min-width: 73px;
  border-radius: 4px;
  /* color: var(--title-hero-color);
  background-color: var(--accent-color); */
  text-align: center;
  padding: 6px 25px;
  border: 1px solid transparent;
}

.button-web-link {
  cursor: pointer;
  min-width: 125px;
  border-radius: 4px;
  /* color: var(--background-hero-color);
  background-color: var(--backround-teem-color); */
  padding: 6px 25px;
  border: 1px solid transparent;
}

.button-addition {
  cursor: pointer;
  min-width: 112px;
  border-radius: 4px;
  /* color: var(--background-hero-color);
  background-color: var(--backround-teem-color); */
  padding: 6px 25px;
  border: 1px solid transparent;
}

.button-styling {
  cursor: pointer;
  min-width: 103px;
  border-radius: 4px;
  /* color: var(--background-hero-color);
  background-color: var(--backround-teem-color); */
  padding: 6px 25px;
  border: 1px solid transparent;
}

.button-marketing {
  cursor: pointer;
  min-width: 130px;
  border-radius: 4px;
  /* color: var(--background-hero-color);
  background-color: var(--backround-teem-color); */
  padding: 6px 25px;
  border: 1px solid transparent;
}

/* flex */
.section-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.cells {
  flex-wrap: wrap;
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.flex-element {
  background: #ffffff;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-description {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* .flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
} */

/* navigation */

.title-navigation {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.text-navigation {
  color: var(--text-abut-list-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  margin-top: 4px;
}

/* footer */

.footer-block {
  background-color: var(--background-hero-color);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
}

.none-logo {
  padding: 0;
  margin-bottom: 20px;
}

.link-footer .text-footer:hover,
.link-footer .text-footer:focus {
  color: #2196f3;
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  text-decoration: none;
  text-align: center;
}

.work-office {
  color: var(--title-hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.remove-italics {
  font-style: normal;
}
