/* Стилі для index.html */

/* :root {
  --primary-tex-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-hero-color: #ffffff;
  --text-abut-list-color: #757575;
  --background-hero-color: #2f303a;
  --backround-teem-color: #f5f4fa;
  --ikon-color: #afb1b8;
} */

/* body {
  font-family: "roboto", sans-serif;
  background-color: var(----title-hero-color);
  letter-spacing: 0.03em;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
} */

/* label {
  display: block;
} */

/* .main-navigation {
  flex: 1 1 auto;
} */

/* .list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* Логотип  */

/* .logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  vertical-align: middle;
}

.logo:hover {
  color: var(--title-text-color);
} */

/* .web {
  color: var(--accent-color);
}

.studio {
  color: var(--title-hero-color);
} */

/* conteiner nav */

/* .header-navigation {
  border-bottom: 1px solid #ececec;
}

.hader-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-navigation nav {
  display: flex;
} */

/* site-nav */

/* .site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .sate-nav-item {
  margin-left: 50px;
}

.site-nav .sate-nav-item:last-child {
  margin-right: 0;
}

.site-nav .sate-nav-item:first-child {
  margin-left: 0;
}

.sate-nav__border {
  display: block;
  position: relative;
}

.care::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover,
.nav:focus {
  color: #2196f3;
}

.nav.care {
  color: var(--accent-color);
} */

/* auth-nav */
/* .auth-nav {
  display: flex;
  margin-left: auto;
  height: auto;
}

.auth-nav .auth-nav-item {
  margin-left: 50px;
}

.auth-nav .auth-nav-item:last-child {
  margin-right: 0;
}

.auth-nav .auth-nav-item:first-child {
  margin-left: 0;
}

.auth-nav .link-current:hover,
.auth-nav .link-current:focus {
  color: #2196f3;
}

.link-current:hover .contacts-icon,
.link-current:focus .contacts-icon {
  fill: #2196f3;
}

.auth-nav .link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-abut-list-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-icon {
  fill: currentcolor;
} */

/* section */

/* .section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 50px;
} */

/* hero */

/* .hero {
  background-color: var(--background-hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/Hero-img/Img-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--title-hero-color);
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.5;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
} */

/* button-hero*/

/* .hero-button {
  font-family: inherit;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-hero-color);
  background-color: #2196f3;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button__form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
} */

/* Benefits */

/* .benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-about {
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

.benefits__blok {
  width: 270px;
}

.benefits-icons {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround-teem-color);
  margin-bottom: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 0.03em;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  letter-spacing: 0.03em;
} */

/* Чим ми займаємося */

/* .work {
  padding-bottom: 94px;
}

.work-container__about {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.work-container__card {
  width: 370px;
  margin-right: 30px;
}

.work-container__card:nth-child(3) {
  margin-right: 0px;
}

.work-thumb {
  position: relative;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.work-overlay__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
} */

/* section team */

/* .team {
  background-color: var(--backround-teem-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-about {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.team-about__card {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-about__card:nth-child(4) {
  margin-right: 0px;
}

.employee {
  padding: 30px;
}

.employee-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.employee-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--text-abut-list-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
} */

/* socials */

/* .employee-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.employee-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ikon-color);
  background-color: var(--title-hero-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-link__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-link:hover,
.employee-link:focus {
  background-color: var(--accent-color);
}

.employee-link:hover .employee-link__icon,
.employee-link:focus .employee-link__icon {
  fill: var(--title-hero-color);
} */

/* Regular customers */

/* .customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-clients {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  width: 170px;
  height: 92px;
  color: var(--ikon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-link__icon,
.clients-link:focus .clients-link__icon {
  fill: var(--accent-color);
} */

/* стилі для portolio.html */

/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
} */
/* button-portolio */

/* .portfolio-button {
  justify-content: center;
  flex-wrap: nowrap;
  display: flex;
  margin-bottom: 50px;
}

.portfolio-button__font {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid transparent;
  color: var(--title-hero-color);
  cursor: pointer;
  margin-right: 8px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__font:nth-last-child(1) {
  margin-right: 0px;
}

.portfolio-button__pressing {
  cursor: pointer;
  min-width: 73px;
  border-radius: 4px;
  background-color: var(--backround-teem-color);
  text-align: center;
  padding: 6px 22px;
  border: 1px solid transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__pressing:hover,
.portfolio-button__pressing:focus {
  color: var(--title-hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* flex */

/* .cells {
  flex-wrap: wrap;
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.flex-element {
  background: #ffffff;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-link {
  text-decoration: none;
  display: block;
}

.flex-element .flex-link:hover,
.flex-element .flex-link:focus {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}

.flex-element .flex-link:hover .overlay,
.flex-element .flex-link:focus .overlay {
  transform: translateY(0);
}

.overlay-desc {
  color: var(--title-hero-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.flex-description {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
} */

/* navigation */

/* .title-navigation {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.text-navigation {
  color: var(--text-abut-list-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  margin-top: 4px;
} */

/* footer */

/* .footer-block {
  background-color: var(--background-hero-color);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.for-nav {
  width: 231px;
} */

/* .logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-family: raleway;
  text-decoration: none;
  display: block;
  margin-bottom: 25px;
} */

/* .remove-italics {
  font-style: normal;
} */

/* .work-office {
  color: var(--title-hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer .text-footer:hover,
.link-footer .text-footer:focus {
  color: #2196f3;
} */

/* Socials join  */

/* .socials-join {
  margin-left: 70px;
  align-content: center;
}

.join-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 20px;
}

.join {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer:hover,
.socials-footer:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  fill: var(--backround-teem-color);
} */

/* Subscrition */

/* .subscrition {
  margin-left: 93px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscrition-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
}

.subscrition-form-group {
  display: flex;
  margin-top: 20px;
}

.subscrition-field {
  position: relative;
}

.subscrition-form-imput {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--background-hero-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscrition-form-imput:focus,
.subscrition-form-imput:hover {
  border-color: var(--accent-color);
}

.subscrition-form-imput:focus + .subscrition-mail,
.subscrition-form-imput:not(:placeholder-shown) + .subscrition-mail {
  transform: translate(-5px, -220%) scale(0.8);
}

.subscrition-form-imput:focus,
.subscrition-form-imput:not(:placeholder-shown) {
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.subscrition-mail {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Footer-button */

/* .subscrition-btn {
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin-left: 12px;
  color: var(--title-hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscrition-btn:hover,
.subscrition-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscrition-icon {
  margin-left: 10px;
  fill: var(--title-hero-color);
} */

/* Modal window */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: visibility 250ms, opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  padding: 40px;
  display: block;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--title-hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--title-hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.register-form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-style: normal;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-field:last-child {
  margin-bottom: 0;
}

.register-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--text-abut-list-color);
}

.register-form-imput {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-imput:focus,
.register-form-imput:hover {
  border-color: var(--accent-color);
}

.register-form-imput:focus + .register-icos,
.register-form-imput:hover + .register-icos {
  fill: var(--accent-color);
}

.register-icos {
  position: absolute;
  top: 50%;
  transform: translateY(-11%);
  left: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;

  resize: none;
  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-message:focus,
.register-form-message:hover {
  border-color: var(--accent-color);
}

.register-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}

.register-form-chekcbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.register-form-chekcbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-chekcbox:focus + .register-form-icons {
  outline: 2px solid rgb(66, 66, 190);
  outline-offset: 1px;
  border-radius: 2px;
}

.icon-checked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-abut-list-color);
  user-select: none;
}

.register-form-link {
  color: var(--accent-color);
} */

/* register-form-btn */

/* .register-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-hero-color);
  background-color: #2196f3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-btn:hover,
.register-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
