// contacts header
.auth-nav {
  display: none;
  margin-left: auto;
  height: auto;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: 96px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.auth-nav .auth-nav-item {
  & .auth-nav-item:last-child {
    margin-right: 0;
  }

  & .auth-nav-item:first-child {
    margin-left: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 50px;
    margin-bottom: 0px;
  }
}

.mail-hader {
  margin-bottom: 10px;
}

.link-current {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-nav .link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-abut-list-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav .link-current:hover,
.auth-nav .link-current:focus {
  color: #2196f3;
}

.link-current:hover .contacts-icon,
.link-current:focus .contacts-icon {
  fill: #2196f3;
}

.contacts-icon {
  fill: currentcolor;
}

// contacts footer

.work-office {
  color: var(--title-hero-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;

  & .text-footer:hover,
  & .text-footer:focus {
    color: #2196f3;
  }

  @media screen and (min-width: $mobile) {
    text-align: center;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    justify-content: left;
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    justify-content: left;
    text-align: left;
  }
}

.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
