// Block 14

// social team

.employee-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.employee-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ikon-color);
  background-color: var(--title-hero-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.employee-link__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .employee-link:hover &,
  .employee-link:focus & {
    fill: var(--title-hero-color);
  }
}

// social footer

// Block 17

.socials-join {
  align-content: center;
  margin-bottom: 60px;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 20px;

  text-align: center;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.join {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.icon-footer {
  fill: var(--backround-teem-color);
}
