// Block 2

body {
  font-family: "roboto", sans-serif;
  background-color: var(----title-hero-color);
  letter-spacing: 0.03em;
}

img {
  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}
