// Block 5

.hader-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.benefits-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.work-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.team-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.customers-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 738px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--title-hero-color);
}
