// Block 1
:root {
  --primary-tex-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-hero-color: #ffffff;
  --text-abut-list-color: #757575;
  --background-hero-color: #2f303a;
  --backround-teem-color: #f5f4fa;
  --ikon-color: #afb1b8;
}
