// Block 16

.footer-block {
  background-color: var(--background-hero-color);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.for-nav {
  text-align: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    justify-content: unset;
    text-align: unset;
    width: 231px;
  }
}

.footer-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: unset;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
