// Block 8

.header-navigation {
  border-bottom: 1px solid #ececec;
}

.hader-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-navigation .navigation {
  display: flex;
}
