// Block 9

.site-nav {
  display: flex;
  margin-left: 93px;

  & .sate-nav-item {
    margin-left: 50px;
  }

  & .sate-nav-item:last-child {
    margin-right: 0;
  }

  & .sate-nav-item:first-child {
    margin-left: 0;
  }
}

.sate-nav__border {
  display: block;
  position: relative;
}

.care::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.nav.care {
  color: var(--accent-color);
}
